.redColor {
  background-color: red;
  font: black;
}
.container1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container1 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container1 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container1 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container1 {
    max-width: 1140px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.status-potential {
  background-color: #ffff00;
}

.status-qualified {
  background-color: #00ff00;
}

.status-closed {
  background-color: #ff0000;
}
